.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: linear-gradient(rgb(128, 0, 32), rgba(128, 0, 32, 0.5)100%), 
                    url(static/bg.jpg);                    
  /* Center and scale the image nicely 
  background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

@media only screen and (max-width: 768px) {
  .App-header {
    background-image: linear-gradient(rgb(128, 0, 32), rgba(128, 0, 32, 0.4)100%), 
                      url(static/bg.jpg);                    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
  }
}

.hr-light {
  border-top: 2px solid #fff;
  width: 25vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
