.container1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
  }
  
  .image {
    width: 70%;
    margin: 2% 0 0 15%;
    position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }

  .sponsor-title-light {
    color: white;
    margin: 0 1%;
    font-size: 2em;
    font-weight: 800;
  }

  .gold {
    background: goldenrod;
  }

  .silver {
    background: gray;
  }

  .bronze {
    background: peru;
  }

  .partners {
    background: rgba(51, 15, 83, 0.6);
  }