.member-container {
  position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.member-container-scroll {
  position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.team-image {
  position: relative;
  display: block;
    width: 100%;
    border-radius: 0.5rem;
}

.team-links {
    width: 100%;
    color: white;
    font-size: 16px;
    position: absolute;
    padding: 4px;
    background-color: rgba(51, 15, 83, 0.6);
    border-radius: 0 0 0.5rem 0.5rem;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .team-links .fa {
    margin-right: 5%;
    margin-left: 5%;
  }

  .team-links .fa:hover {
    transform: scale(1.2);
  }